* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #ffffff;

  --black-main: #222632;

  --blue: #335acf;
  --blue-light: #4464c5;
  --blue-light-hover: #3a56aa;

  --light-green: #0e551e;

  --accent: #4f4a87;
  --accent-muted: #33394b;
  --accent-dark: #353160;
  --accent-hover: #474279;
}

@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: normal;
  font-display: fallback;
}

@font-face {
  font-family: "Source Code Pro";
  src: url("./assets/fonts/SourceCodePro-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  font-display: fallback;
}
@font-face {
  font-family: "Nunito";
  src: url("./assets/fonts/Nunito-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  font-display: fallback;
}

body {
  font-family: "Source Code Pro", monospace;
  background-color: var(--black-main);
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* GLOBAL */
p,
span {
  font-family: "Source Code Pro", monospace;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.7);
  font-size: 0.9rem;
}

a {
  cursor: pointer;
  color: var(--blue);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
.heading {
  font-family: "Poppins", "Franklin Gothic Medium", sans-serif;
  font-weight: normal;
}

/* CONTAINER */
.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.wrapper {
  width: 600px;
  display: flex;
  flex-direction: column;
}

/* NAVIGATION BAR */

nav {
  display: flex;
  justify-content: center;
}

nav .nav-items {
  display: flex;
}

/* Nav item */
nav .nav-item-link {
  text-align: center;
  margin: 1rem 2.5rem;
  font-size: 1.2rem;
  text-decoration: none;
  font-family: "Nunito", "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
  color: var(--white);
}

/* Nav link line animation */
.nav-item .line {
  width: 40px;
  border-radius: 5px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.2s;
  height: 0.35rem;
}

.nav-item.not-hover .line {
  background-color: var(--accent-muted);
}

.nav-item.hover .line,
.nav-item.active .line {
  background-color: var(--accent);
}

.nav-item.hover .line {
  width: 50px;
}

/* PAGES */
.page {
  width: 100%;
  height: 300px;
  font-size: 1.1rem;
  margin-top: 2rem;
}

.page-heading {
  font-size: 1.5rem;
}

.section-text {
  margin: 1rem 0;
}

.back-link {
  font-size: 0.9rem;
}

/* HOME PAGE */

/* ABOUT PAGE */

.resume-link {
  transition: 0.15s;
  display: block;
  text-align: center;
  background-color: var(--accent);
  border: 2px solid var(--accent-dark);
  color: var(--white);
  border-radius: 0.2rem;
  padding: 0.25rem;
  font-family: "Poppins", "Franklin Gothic Medium", sans-serif;
  font-weight: 400;
  width: 95px;
  color: rgba(255, 255, 255, 0.9);
  font-size: 0.9rem;
}

.resume-link:hover {
  background-color: var(--accent-hover);
  border: 2px solid var(--accent-hover);
  color: var(--white);
  text-decoration: none;
}

/* SKILLS PAGE */

.skills-list-section:last-of-type {
  margin-bottom: 1rem;
}

.skills-list {
  display: flex;
  flex-wrap: wrap;
}

.skills-section-title {
  font-size: 1.2rem;
  margin-top: 1rem;
  opacity: 0.9;
  font-family: "Nunito", "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans";
}

/* Skill item */
.skill {
  margin: 0rem 1rem 0.5rem 0;
  width: 7rem;
}

/* Progress bar */
.progress-bar {
  width: 100%;
  border-radius: 0.1rem;

  background-color: rgba(0, 0, 0, 0.4);
}

.progress-bar .progress {
  border-radius: 0.1rem;

  height: 5px;
  position: relative;
}
.progress.green {
  background-color: var(--light-green);
}

/* PROJECTS PAGE */

.projects-list {
  margin-bottom: 1rem;
}

/* Project item */
.project-item {
  position: relative;
  outline: 2px solid #171b27;
  background-color: rgba(23, 27, 39, 0.5);
  padding: 0.25rem 0.5rem;
  margin: 0.5rem 0;
}

.project-item:hover {
  background-color: rgba(23, 27, 38, 0.75);
}

.project-item-header {
  cursor: pointer;
}

.project-name {
  font-size: 1.2rem;
  opacity: 0.9;
  font-family: "Nunito", "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans";
}

.project-item .expand-btn {
  transition: 0.15s;
  position: absolute;
  display: flex;
  top: -0;
  right: 0;
  width: 32px;
  height: 32px;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.project-item.minified .expand-btn {
  transform: rotate(-45deg);
}

.project-item.expanded .expand-btn {
  transform: rotate(135deg);
  top: calc(100% - 32px);
  bottom: 0;
}

.project-item.minified:hover .expand-btn {
  transform: rotate(-45deg) scale(1.25);
}

.project-item.expanded:hover .expand-btn {
  transform: rotate(135deg) scale(1.25);
}

.project-item-content {
  transition: 0.15s;
  opacity: 0.8;
}

.project-item-content.hidden {
  visibility: hidden;
  opacity: 0;
}

.project-item-content.visible {
  visibility: visible;
  margin: 0.25rem 0;
  opacity: 1;
}

.project-tags {
  display: flex;
  flex-wrap: wrap;
}

.tag {
  line-height: 1;
  padding: 0.25rem;
  margin-right: 0.5rem;
  border-radius: 0.2rem;
  background-color: var(--accent);
}

.project-item.expanded .project-description {
  margin: 0.4rem 0;
}

.project-item-content .project-links {
  margin: 0.25rem 0;
}

.project-links a:first-child {
  margin-right: 0.5rem;
}

/* FOOTER */
.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 1rem;
  background-color: var(--black-main);
}

.footer-container {
  display: flex;
  justify-content: center;
}

.footer-content {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.some-buttons {
  display: flex;
  justify-content: center;
}

.some-btn {
  border: none;
  background: none;
  margin-left: 0.25rem;
}

.some-btn:first-child {
  margin-left: 0;
}

.some-btn img {
  width: 32px;
  height: 32px;
  opacity: 0.75;
  filter: invert(94%) sepia(8%) saturate(144%) hue-rotate(169deg) brightness(99%) contrast(87%);
  -webkit-user-select: none; /* Chrome all / Safari all */
  -moz-user-select: none; /* Firefox all */
  -ms-user-select: none; /* IE 10+ */
  user-select: none;
}

.some-btn:hover img {
  opacity: 1;
}

/* MEDIA QUERIES */

@media screen and (max-width: 650px) {
  .wrapper {
    margin: 1rem;
    width: 90%;
  }
  body {
    display: flex;
    align-items: unset;
  }

  nav {
    margin: 1rem 0 0 0;
  }
  nav .nav-item-link {
    margin: 1rem;
  }
}

@media screen and (max-width: 600px) {
  .page {
    height: 100%;
  }
  .footer {
    position: relative;
    bottom: auto;
    left: auto;
    margin: 1rem 0 0 0;
  }
  .footer-container {
    height: 100%;
    width: 100%;
  }
  .footer-content {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 450px) {
  .project-item {
    margin: 0.75rem 0;
    padding: 0.5rem;
  }

  .tag {
    margin-top: 0.2rem;
  }

  .section-text {
    margin-bottom: 2rem;
  }
}
