.resumeLink {
  transition: 0.15s;
  display: block;
  text-align: center;
  background-color: var(--accent);
  border: 2px solid var(--accent-dark);
  color: var(--white);
  border-radius: 0.2rem;
  padding: 0.25rem;
  font-family: var(--poppins);
  font-weight: 400;
  width: 95px;
  color: rgba(255, 255, 255, 0.9);
  font-size: 0.9rem;
}

.resumeLink:hover {
  background-color: var(--accent-hover);
  border: 2px solid var(--accent-hover);
  color: var(--white);
  text-decoration: none;
}
