/* Project item */
.projectItem {
  position: relative;
  outline: 2px solid #171b27;
  background-color: rgba(23, 27, 39, 0.5);
  padding: 0.25rem 0.5rem;
  margin: 0.5rem 0;
}

.projectItem:hover {
  background-color: rgba(23, 27, 38, 0.75);
}

.projectItemHeader {
  cursor: pointer;
}

.projectName {
  font-size: 1.2rem;
  opacity: 0.9;
  font-family: var(--nunito);
}

.projectItem .expandBtn {
  transition: 0.15s;
  position: absolute;
  display: flex;
  top: 0;
  right: 0;
  width: 32px;
  height: 32px;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.projectItem.minified .expandBtn {
  transform: rotate(-45deg);
}

.projectItem.expanded .expandBtn {
  transform: rotate(135deg);
  top: calc(100% - 32px);
  bottom: 0;
}

.projectItem.minified:hover .expandBtn {
  transform: rotate(-45deg) scale(1.25);
}

.projectItem.expanded:hover .expandBtn {
  transform: rotate(135deg) scale(1.25);
}

.projectItemContent {
  transition: 0.15s;
  opacity: 0.8;
}

.projectItemContent.hidden {
  visibility: hidden;
  opacity: 0;
}

.projectItemContent.visible {
  visibility: visible;
  margin: 0.25rem 0;
  opacity: 1;
}

.projectTags {
  display: flex;
  flex-wrap: wrap;
}

.tag {
  line-height: 1;
  padding: 0.25rem;
  margin-right: 0.5rem;
  border-radius: 0.2rem;
  background-color: var(--accent);
}

.projectItem.expanded .projectDescription {
  margin: 0.4rem 0;
}

.projectItemContent .projectLinks {
  margin: 0.25rem 0;
}

.projectLinks a:first-child {
  margin-right: 0.5rem;
}

@media screen and (max-width: 450px) {
  .projectItem {
    margin: 0.75rem 0;
    padding: 0.5rem;
  }

  .tag {
    margin-top: 0.2rem;
  }
}
