.skillsListSection:last-of-type {
  margin-bottom: 1rem;
}

.skillsList {
  display: flex;
  flex-wrap: wrap;
}

.skillsSectionTitle {
  font-size: 1.2rem;
  margin-top: 0.5rem;
  opacity: 0.9;
  font-family: var(--nunito);
}

.skill {
  line-height: 1;
  padding: 0.25rem 0.5rem;
  margin-top: 0.75rem;
  margin-right: 0.75rem;
  border-radius: 0.2rem;
  background-color: var(--accent);
}
